{% extends 'base.html' %}
{% load static %}
{% block title %}
    "Password Generator"
{% endblock %}
{% block contents %}
    <div class="body-pg">
        <link rel="stylesheet" href="{% static "css/password.css" %}">
        <div class="container-pg">
            <h2 class="title">Password Generator</h2>
            <div class="result">
                <div class="result__viewbox" id="result">{{ created_password }}</div>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="length range__slider" data-min="4" data-max="32">
                    <div class="length__title field-title" data-length='0'>length:</div>
                    <label for="slider" hidden="hidden">length</label>
                    <input id="slider" name="length" type="range" min="4" max="32" value="12" />
                </div>
                <div class="settings">
                    <span class="settings__title field-title">settings</span>

                    <div class="setting">
                        <input type="checkbox" id="lowercase" disabled checked />
                        <label for="lowercase">Include Lowercase</label>
                    </div>

                    <div class="setting">
                        <input type="checkbox" id="uppercase" name="use_capital_letters" checked />
                        <label for="uppercase">Include Uppercase</label>
                    </div>

                    <div class="setting">
                        <input type="checkbox" id="number" name="use_digits" checked />
                        <label for="number">Include Numbers</label>
                    </div>
                    <div class="setting">
                        <input type="checkbox" id="symbol" name="use_symbols" checked/>
                        <label for="symbol">Include Symbols</label>
                    </div>
                </div>
                <button type="submit" class="btn generate" id="generate">Generate Password</button>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static "js/password_generator.js" %}"></script>
{% endblock %}